SIMULATOR_INSTANCE_ID=SIM_LAPTOP_02
SIMULATOR_INSTANCE_NAME=Campus-Simulator-Laptop-02
ESTATEIQ_SERVER_URL=http://192.168.1.20:8000
PAIRING_CODE=IQ-DEMO
FACILITY_ID=FAC_GEC_CAMPUS
BUILDING_ID=Block B Hostel
SAMPLE_INTERVAL_SEC=5.0
SIMULATOR_PORT=8502
